/* Blog Styles */

.postInformation {
    color: #535C4B;
    font-weight: 500;
    line-height: 1.5em;
    font-family: 'Fira Sans', sans-serif;
}

.post-title, .post-date {
    text-shadow: 1px 1px rgba(37,41,52,0.1);
}

.post-title {
    margin: 0 1em;
}

.post-tag {
    float: right;
    padding: 0 1em;
    border-radius: 5px;
    border: 1px #0083ED solid;
    box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.1);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.1);
}

#page-content h1 {
    font-size: 1.5em;
    color: #0083ED;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Pixel', sans-serif;
    text-shadow: 1px 1px rgba(37,41,52,0.75);
}

.current-post-metadata span {
    font-size: 1em;
    color: #535C4B;
    font-weight: 500;
    line-height: 1.5em;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 1px 1px rgba(37,41,52,0.1);
}

.current-post-metadata {
    text-align: center;
}

.post-image {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 5px;
}

.geDiagramContainer {
    float: left;
    margin-top: 1em;
    margin-right: 2em;
}

@media screen and (max-width: 600px) {
    .geDiagramContainer {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    
}

/* Unique Tag Colours */

.General {
    background-color: yellow;
}

.Development {
    background-color: yellowgreen;
}
