/* Styles for Contact Form Page */

#contact-form-buttons {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

#contact-form {
    display: block;
    max-width: 800px;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
}

#contact-form input {
    display: block;
}

#contact-form textarea {
    line-height: 1.5em;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    color: #535C4B;
    margin: 0 auto 1em auto;
    
    /* Prevent Padding From Element Size */
    box-sizing:border-box;
}

#contact-form input {
    padding: 0.5em;
    border-radius: .25em;
    border: 1px solid #888;
}

#contact-form textarea {
    resize: none;
    padding: 0.5em;
    border-radius: .25em;
    border: 1px solid #888;
}

#contact-form button,
#contact-form-buttonsbutton {
    display: block;
    padding: 0.25em;
    color: #0083ED;
}

#contact-form button:hover,
#contact-form-buttons button:hover {
    cursor: pointer;
}

#mc_embed_signup_scroll {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

#mc_embed_signup input.email {
    width: 100% !important;
}

#mce-EMAIL {
    width: 100% !important;
    padding: 0.5em !important;
    color: #535C4B !important;
    font-size: 1.15em !important;
    border-radius: .25em !important;
    box-sizing: border-box !important;
    border: 1px solid #888 !important;
    font-family: 'Fira Sans', sans-serif !important;
}

#mailchimp {
    display: flex;
    justify-content: space-between;
}

#mailchimp button {
    font-size: 1em !important;
    padding: 0.25em !important;
    color: #0083ED !important;
    font-family: 'Fira Sans', sans-serif !important;
}

#mc-embedded-subscribe {
    height: 100%;
    padding: 0.25em 1em !important;
    color: #0083ED !important;
    font-size: 1.15em !important;
    font-family: 'Fira Sans', sans-serif !important;
}

#mc-embedded-subscribe:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #contact-form button {
        /* Space Between Buttons On Small Screens */
        max-width: calc(50vw - 2em - 1em);
    }

    #mc_embed_signup input.email {
        width: 50% !important;
    }
}
