/* Footer Element */

#footer {
    padding: 0em;
    display: flex;
    margin: 0 auto;
    padding: 0 1em;
    font-weight: 500;
    max-width: 600px;
    font-size: 0.85em;
    justify-content: space-between;
    border-top: 1px dotted #0083ED;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 1px 1px rgba(37,41,52,0.25);
}

#footer a {
    color: #0083ED;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

#footer a:hover,
#footer a:active {
    color: #97653B;
}

#footer p {
    width: 100%;
    color: #535C4B;
    line-height: 2em;
    text-align: center;
    display: inline-flex;
}

#footer-site-links {
    width: 50%;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    #footer {
        display: block;
        padding-top: 1em;
        text-align: center;
        width: calc(100% - 2em);
    }

    #footer p {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    #footer-site-links {
        width: 80%;
    }

    #footer p:first-of-type {
        margin-top: 0em;
    }

    #footer a {
        margin: 0 0.5em;
    }
}
