/* General Elements */

::selection,
::-moz-selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }

html {
  scroll-behavior: smooth;
}

#page-content {
  padding: 1em;
  max-width: 800px;
  margin: 1em auto;
}

#page-content div {
  margin-bottom: 2em;
}

#page-content div:last-of-type {
  margin-bottom: 1em;
}

#page-content h3 {
  color: #0083ED;
  font-family: 'Pixel', sans-serif;
  text-shadow: 1px 1px rgba(37,41,52,0.75);
}

#page-content p,
#page-content li {
  color: #535C4B;
  font-weight: 500;
  line-height: 1.5em;
  text-align: justify;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px rgba(37,41,52,0.1);
}

#page-content a {
  color: #0083ED;
  text-decoration: none;
  text-shadow: 1px 1px rgba(37,41,52,0.1);
}

#page-content a:hover,
#page-content a:active {
  color: #97653B;
}
