/* General Elements */

::selection,
::-moz-selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }

html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  overflow-x: hidden;
}

hr {
  border: 1px dotted #0083ED;
}

#page-content {
  padding: 1em;
  max-width: 600px;
  margin: 90px auto 0 auto;
}

#page-content div {
  margin-bottom: 1em;
}

#page-content div:last-of-type {
  margin-bottom: 0em;
}

#page-content h3 {
  color: #0083ED;
  line-height: 1.5em;
  font-family: 'Pixel', sans-serif;
  text-shadow: 1px 1px rgba(37,41,52,0.75);
}

#mc_embed_signup p {
  margin-bottom: 1em;
}

#page-content h4 {
  color: #0083ED;
  line-height: 1em;
  font-family: 'Pixel', sans-serif;
  text-shadow: 1px 1px rgba(37,41,52,0.75);
}

#page-content p {
  text-align: justify;
}

#page-content p,
#page-content li {
  color: #535C4B;
  font-weight: 500;
  line-height: 1.5em;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px rgba(37,41,52,0.1);
}

/* #page-content p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
} */

#mc-embedded-subscribe-form {
  margin-bottom: 1em;
}

#page-content li {
  width: 50%;
  display: inline;
}

#page-content img {
  width: calc(100% - 15px);
  background-color: #97653B;
  box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.1);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.1);
}

#page-content img:hover, #page-content img:active {
  opacity: .95;
  transition: .2s;
}

#page-content a {
  color: #0083ED;
  text-decoration: none;
  text-shadow: 1px 1px rgba(37,41,52,0.1);
}

#page-content a:hover,
#page-content a:active {
  color: #97653B;
}

#contact p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.photo-gallery {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.photo-gallery li {
  padding-left: 0;
  /* flex-basis: 33.333333% */
}

.commento-logo-container {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  #page-content {
    margin: 60px auto 0 auto;
  }

  #games-list-container {
    display: block;
  }

  #games-list-container img {
    max-width: calc(100vw - 2.5em);
  }

  #games-list-container a {
    display: block;
    margin-bottom: 0.5em;
  }

  #games-list-container a:last-of-type {
    margin-bottom: 0;
  }
}
