/* Navigation Bar Element */

#navigation-bar {
    z-index: 10;
    box-shadow: 0px 3px 10px 0px rgba(37,41,52,0.25);
    -moz-box-shadow: 0px 3px 10px 0px rgba(37,41,52,0.25);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(37,41,52,0.25);
}

.navigation-bar-background {
    width: 100vw;
    height: 30px;
    position: relative;
}

#navigation-bar-logo {
    height: 60px;
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    position: absolute;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    top: 0; left: 0; bottom: 0; right: 0;
}

#navigation-bar-logo img {
    height: 60px;
    border-radius: 10px;
    border: 5px white solid;
    box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.5);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(37,41,52,0.5);
}

#title-word-container {
    color: white;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-family: "Pixel", sans-serif;
    text-shadow: 3px 3px rgba(37,41,52,0.5);
}

#title-word-container span {
    display: block;
}

#title-word-container span a {
    color: white;
    text-decoration: none;
}

#title-word-container span a:hover,
#title-word-container span a:active {
    color: #97653B;
}

#navigation-bar-links {
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
    color: #0083ED;
    max-width: 700px;
    text-align: center;
    justify-content: space-between;
    border-bottom: 5px solid white;
    font-family: 'Pixel', sans-serif;
}

#navigation-bar-links a {
    color: inherit;
    font-size: 0.75em;
    text-decoration: none;
    text-shadow: 1px 1px rgba(37,41,52,0.5);
}

#navigation-bar-links a:hover,
#navigation-bar-links a:active {
    color: #97653B;
}

/* Special Background */

.flip-background {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#background-1 {
    background-size: contain;
    background-color: #0083ED;
    background-position: center;
    background-repeat: repeat no-repeat;
    background-image: url("/assets/sky-layer-1.png");
}

#background-2 {
    background-size: contain;
    background-color: #0083ED;
    background-position: center;
    background-repeat: repeat no-repeat;
    background-image: url("/assets/sky-layer-1.png");
}

/* Mobile Styles */

@media screen and (max-width: 500px) {
    #navigation-bar {
        z-index: 10;
        box-shadow: 0px 3px 10px 0px rgba(37,41,52,0.25);
        -moz-box-shadow: 0px 3px 10px 0px rgba(37,41,52,0.25);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(37,41,52,0.25);
    }

    #navigation-bar-logo {
        height: 80px;    
        padding: 0 1em;
    }
    
    #navigation-bar-logo img {
        height: 40px;
        border-radius: 5px;
        border: 2px white solid;
    }

    #title-word-container {
        font-size: 1.25em;
    }

    .navigation-bar-background {
        height: 40px;
    }

    #navigation-bar-links a {
        font-size: 0.7em;
    }
}
