<div id="contact">
    <h3>Contact Us</h3>
    <p>
        If you want to get in touch with us, you can send us an email.
        While we read all emails, you can help us categorize your inquiry by emailing the following departments directly.
    </p>
    <ul>
        <li>Press: <a href="mailto:press@aquinasgames.ca">press@aquinasgames.ca</a></li>
        <li>General: <a href="mailto:contact@aquinasgames.ca">contact@aquinasgames.ca</a></li>
        <li>Support: <a href="mailto:support@aquinasgames.ca">support@aquinasgames.ca</a></li>
    </ul>
    <p>
        We try to respond within 1-2 business days, but since we're a small company, we can't guarantee much more.
        Thank you for your patience and understanding.
    </p>
</div>