<div id="games">
    <h3>Our Games</h3>
    <p>
        We strive for quality. 
        Smaller, deeper games are more valuable than longer, shallow games.
        At Aquinas Games, we try to make every game count. 
        Our love for games should show in our work. 
    </p>
    <div id="games-list-container">
        <a href="{{ site.url }}/pressured"><img src="{{ site.url }}/assets/games/test-image.png" alt="Promotional image for the game Pressured."></a>
        <a href="{{ site.url }}/pressured"><img src="{{ site.url }}/assets/games/test-image.png" alt="Promotional image for the game Pressured."></a>
    </div>
</div>