<div id="navigation-bar">
    <div class="navigation-bar-background" id="background-1"></div>
    <div class="navigation-bar-background flip-background" id="background-2"></div>
    <div id="navigation-bar-logo">
        <!-- <img class="animated flipInY" src="{{ site.url }}/assets/logo.png" alt="Aquinas Games logo, a house on a floating hill."> -->
        <div id="title-word-container">
            <span>&mdash; <a href="/">Aquinas Games</a> &mdash;</span>
        </div>
    </div>
    <div id="navigation-bar-links">
        <a href="/">home</a>
        <a href="/games">games</a>
        <a href="/news">news</a>
        <a href="/contact">contact</a>
    </div>
</div>