<div id="navigation-bar">
    <div class="navigation-bar-background" id="background-1"></div>
    <div class="navigation-bar-background flip-background" id="background-2"></div>
    <div id="navigation-bar-logo">
        <img class="animated flipInY" src="{{ site.url }}/assets/logo.png" alt="Aquinas Games logo, a house on a floating hill.">
        <div class="animated fadeIn" id="title-word-container">
            <span id="title-first-word">Aquinas</span>
            <span id="title-second-word">Games</span>
        </div>
    </div>
    <div id="navigation-bar-links">
        <a href="#games">games</a>
        <a href="#about">about</a>
        <!-- <a href="#gallery">gallery</a> -->
        <a href="#contact">contact</a>
    </div>
</div>