<head>
    <meta charset="utf-8">
    
    <!-- Dynamic Title and URL Resolution -->
    <title>{{ page.title }} - Twinstick Arcade</title>
    <meta name="title" content="{{ page.title }} - Twinstick Arcade">
    <meta property="og:title" content="{{ page.title }} - Twinstick Arcade">
    <meta property="og:url" content="https://aquinasgames.ca/TwinstickArcade"/>

    <meta name="language" content="en">
    <meta name="theme-color" content="#0f380f">
    <meta name="revisit-after" content="7 days">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website"/>
    <meta name="keywords" content="twinstick arcade, aquinas games, michael bassili, 2d shooter, retro shooter"/>
    <meta name="description" content=" Blast and dash through in a gorgeous retro 2D world! Explore intricate worlds, fight creative enemies, and collect as many coins as possible. ">
    <meta property="og:keywords" content="twinstick arcade, aquinas games, michael bassili, 2d shooter, retro shooter"/>
    <meta property="og:description" content=" Blast and dash through in a gorgeous retro 2D world! Explore intricate worlds, fight creative enemies, and collect as many coins as possible. " />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- All Image Links -->
    <meta property="og:image" content="{{ site.url }}/assets/TwinstickArcade/Devlog-1/7.png"/>
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/TwinstickArcade/favicon.ico"/>

    <!-- All CSS Stylesheets -->
    <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.url }}/css/TwinstickArcade.css">

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/45f8ee0a76.js" crossorigin="anonymous"></script>
</head>
