<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Twinstick Arcade</title>
    <meta name="language" content="en">
    <meta name="theme-color" content="#0f380f">
    <meta name="revisit-after" content="7 days">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website"/>
    <meta name="title" content="[Twinstick Arcade]">
    <meta property="og:url" content="https://aquinasgames.ca/TwinstickArcade"/>
    <meta property="og:title" content="[Twinstick Arcade]">
    <meta name="keywords" content="twinstick arcade, aquinas games, michael bassili, 2d shooter, retro shooter"/>
    <meta name="description" content=" Blast and dash through in a gorgeous retro 2D world! Explore intricate worlds, fight creative enemies, and collect as many coins as possible. ">
    <meta property="og:keywords" content="twinstick arcade, aquinas games, michael bassili, 2d shooter, retro shooter"/>
    <meta property="og:description" content=" Blast and dash through in a gorgeous retro 2D world! Explore intricate worlds, fight creative enemies, and collect as many coins as possible. " />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/assets/TwinstickArcade/Devlog-1/7.png"/>
    <link rel="shortcut icon" type="image/png" href="/assets/TwinstickArcade/favicon.ico"/>

    <!-- All CSS Stylesheets -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/TwinstickArcade.css">
</head>
